/*
 * Empty Stylesheet file.
 */

#imagenPantallaPrincipal {
    -fx-background-image: url('../imagenes/prueba.png'); /*hay que cambiarlo porque es feo, pero por tener algo*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.root {
    -fx-background-color: skyblue;
}

.button {
    -fx-background-color: #51b8e1;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #92d3ed;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
}
