/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 4 may. 2021, 18:40:27
    Author     : Raquel
*/

.root {
    -fx-background-color: skyblue;
}

.button {
    -fx-background-color: #51b8e1;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #92d3ed;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
}
