/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 6 may. 2021, 15:03:04
    Author     : Raquel
*/

.root {
    -fx-clr-primary: #808080;
    -fx-clr-secondary: #bfbfbf;
    -fx-clr-tertiary: #595959;
    -fx-clr-gridpane: #000099;
    -fx-clr-chart: #e6e6e6;
    -fx-background-color: #0d0d0d;
}

.text-id {
    -fx-fill: white;
    -fx-text-fill: white;
}

.button, .toggle-button {
    -fx-background-color: -fx-clr-primary;
    -fx-background-radius: 5px;
    -fx-border-color: #f2f2f2;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
}

.button:hover, .toggle-button:hover {
    -fx-background-color: -fx-clr-secondary;
    -fx-background-radius: 5px;
    -fx-border-color: #f2f2f2;
    -fx-border-radius: 5px;
}

.toggle-button:selected {
    -fx-background-color: -fx-clr-tertiary;
}

.text-field {
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.line {
    -fx-stroke: white;
}

.circle {
    -fx-fill: black;
    -fx-stroke: black;
}

.grid-pane {
    -fx-background-color: -fx-clr-gridpane;
}

/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/

.table-view {
    -fx-border-color: transparent;
    -fx-font-family: 'HP Simplified Light';
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: -fx-clr-primary;
    -fx-font-family: 'HP Simplified';
    -fx-text-background-color: white;
}

.table-cell {
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-text-background-color: white;
}

.table-row-cell:odd {
    -fx-background-color: derive(black, 20%);
}

.table-row-cell:even {
    -fx-background-color: derive(black, 10%);
}

.table-row-cell:selected {
    -fx-background-color: -fx-clr-primary;
    -fx-text-background-color: white;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: -fx-clr-secondary;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  -fx-clr-primary;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  -fx-clr-primary;
}

/*******************************************************************************
 *                                                                             *
 * DatePicker                                                                  *
 *                                                                             *
 ******************************************************************************/

.date-picker > .text-field {
    -fx-font-family: 'HP Simplified Light';
}
.date-picker-popup {
    -fx-font-family: 'HP Simplified Light';
}

.date-picker-popup > * > .spinner > .left-button,
.date-picker-popup > * > .spinner > .right-button {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.date-picker-popup > * > .spinner > .left-button:hover,
.date-picker-popup > * > .spinner > .right-button:hover {
    -fx-background-color: -fx-clr-secondary;
}

.date-picker-popup > * > .day-cell:hover {
    -fx-background-color: -fx-clr-secondary;
    -fx-text-background-color: white;
}

.date-picker-popup > * > .day-cell:focused,
.date-picker-popup > * > .selected {
    -fx-background-color: -fx-clr-tertiary;
}

.date-picker > .arrow-button {
    -fx-background-color: -fx-clr-primary;
    -fx-border-color: white;
}

/*******************************************************************************
 *                                                                             *
 * Chart                                                                       *
 *                                                                             *
 ******************************************************************************/

.chart {
    -fx-font-family: 'HP Simplified Light';
    -fx-text-fill: white;
}

.chart-legend .label {
    -fx-text-fill: white;
}

.chart-legend {
    -fx-font-size: 0.8em;
    -fx-background-color: -fx-clr-primary;
}

.axis {
    -fx-tick-label-fill: white;
}

.axis-label {
    -fx-text-fill: white;
}


/*******************************************************************************
 *                                                                             *
 * TextArea                                                                    *
 *                                                                             *
 ******************************************************************************/

.text-area {
    -fx-border-color: white;
    -fx-text-fill: white;
}

.text-area .content {
    -fx-background-color: black;
}

/*******************************************************************************
 *                                                                             *
 * DialogPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.dialog-pane {
    -fx-background-color: #262626;
}

.dialog-pane .label {
    -fx-font-family: 'HP Simplified Ligth';
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.dialog-pane .header-panel {
    -fx-background-color: #0d0d0d;
}

.dialog-pane .header-panel .label {
    -fx-font-family: 'HP Simplified';
    -fx-font-size: 18px;
}



/*******************************************************************************
 *                                                                             *
 * Images                                                                      *
 *                                                                             *
 ******************************************************************************/

#imagenPantallaPrincipal {
    -fx-background-image: url('../imagenes/prueba.png');
    -fx-background-size: 110%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#botonInicio {
    -fx-background-image: url('../imagenes/flecha.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: none;
    -fx-border-color: none;
}

#img1 {
    -fx-background-image: url('../avatars/avatar1.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

#img2 {
    -fx-background-image: url('../avatars/avatar2.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-fills: true;
}

#img3 {
    -fx-background-image: url('../avatars/avatar3.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-fills: true;
}

#img4 {
    -fx-background-image: url('../avatars/avatar4.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-fills: true;
}

#img5 {
    -fx-background-image: url('../avatars/default.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-fills: true;
}

#buttonHelp {
    -fx-background-image: url('../imagenes/help_dark.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-fills: true;
    -fx-background-color: none;
    -fx-border-color: none;
}

#visibleButton {
    -fx-background-image: url('../imagenes/visible_dark.png');
    -fx-background-position: center;
    -fx-background-color: none;
    -fx-border-color: none;
}