/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-abr-2021, 1:32:06
    Author     : belen
*/

/* boton solo que sean letras */
.botonLetras {
    box-shadow: none !important;
    outline: none;
}

    /*
        Cambios en boton principal para iniciar sesion
        quitado el fondo y puesto una imagen de flecha
            (Comprobar si funciona)
    */
#botonInicio {
    -fx-background-image: url('file:C:/Users/belen/Documents/Informatica/Segundoi/TRABAJO_IPC/JavaFxConnect4/src/imagenes/flecha.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: none;
}

#imagenPrincipal {
    -fx-background-image: url('file:C:/Users/belen/Documents/Informatica/Segundoi/TRABAJO_IPC/JavaFxConnect4/src/imagenes/fondo1.jpg');
}

#inicioSesion {
    font-size: 40px;
    border: 1px;
}
