/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 06-abr-2021, 1:32:06
    Author     : Rafa BA, Raquel RR
*/

#botonInicio {
    -fx-background-image: url('../imagenes/flecha.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: none;
    -fx-border-color: none;
}
